SECRET_KEY=django-insecure-0if40nf4nf93n4
YANDEX_APIKEY=
DEBUG=True
ROLLBAR_ACCESS_TOKEN=
ENVIRONMENT=dev
ALLOWED_HOSTS=
POSTGRES_DB=starburgerdb
POSTGRES_USER=starburgeruser
POSTGRES_PASSWORD=starburger
DB_URL=postgresql://starburgeruser:starburger@db:5432/starburgerdb